.article-next-links,
.article-next-links *
{
    box-sizing: border-box;
}

.article-next-links {
    color: #4F4F4F;
    font-family: proxima-nova, Verdana, Arial, sans-serif;
    font-size: 13px;
}

.article-next-links .article-next-links-title {
    width: 100%;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1em;
    color: #656D73;
    padding: 0 16px 25px 16px;
    border-bottom: 2px solid #D9DCE1;
    text-transform: uppercase;
    position: relative;
    margin: 32px 0;
}

.article-next-links .article-next-links-title:after {
    content: "";
    display: block;
    height: 2px;
    width: 92px;
    background-color: #004375;
    position: absolute;
    top: 100%;
    left: 16px;
}

.article-next-links .article-teaser {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 0 32px;
    position: relative;
    min-height: 88px;
}

.article-next-links .article-teaser-title {
    font-size: 1.15em;
    font-weight: 600;
    line-height: 1.43em;
    margin: 0 0 8px 104px;
}

.article-next-links .article-teaser a {
    text-decoration: none;
    color: #697177;
    border-width: 0;
}

.article-next-links .article-teaser-author {
    font-size: 0.86em;
    margin: 0 22px 0 104px;
}

.article-next-links .article-teaser-author a {
    color: #A0A1A8;
}

.article-next-links .article-teaser-photo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 16px;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.article-next-links .article-teaser-photo img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.article-next-links .article-teaser-share {
    display: none;
}