.author-page {
    background-color: #f2f2f2;
    padding: 32px 16px;
    margin-bottom: 25px;
}

#inside-author-info {
    position: relative;
    min-height: 86px;
}

#main-profile-author {
    text-align: center;
}

#inside-author-info .inside-author-image {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 91px;
    height: 91px;
    border: 5px solid #ffffff;
    display: inline-block;
    margin-bottom: 8px;
}

#inside-author-info .inside-author-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    transform: translate(-50%,-50%);
}

#inside-author-desc > h1,
#inside-author-desc > h2,
#inside-author-desc > h3,
#inside-author-desc > h4
{
    margin: 0 0 12px;
    line-height: 1.33em;
    font-size: 1.25em;
}

#inside-author-desc .description-author {
    font-size: 0.95em;
}

.inside-author-social-nets {
    margin: 0 0 16px;
    padding: 0;
}

.inside-author-social-nets li {
    display: inline-block;
    margin-left: 8px;
}

.inside-author-social-nets li:first-child {
    margin-left: 0;
}

.inside-author-social-nets a {
    display: block;
    text-decoration: none;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-width: 0;
}

.inside-author-social-nets a[href=""] {
    display: none;
}

.inside-author-social-nets a[href^="https://instagram.com"],
.inside-author-social-nets a[href^="https://www.instagram.com"],
.inside-author-social-nets a[href^="https://mobile.instagram.com"]
{
    background-image: url(../img/old/slink-instagram.svg);
}

.inside-author-social-nets a[href^="https://twitter.com"],
.inside-author-social-nets a[href^="https://www.twitter.com"],
.inside-author-social-nets a[href^="https://mobile.twitter.com"]
{
    background-image: url(../img/old/slink-twitter.svg);
}

.inside-author-social-nets a[href^="https://facebook.com"],
.inside-author-social-nets a[href^="https://www.facebook.com"],
.inside-author-social-nets a[href^="https://m.facebook.com"]
{
    background-image: url(../img/old/slink-facebook.svg);
}

.inside-author-social-nets a[href^="https://linkedin.com"],
.inside-author-social-nets a[href^="https://www.linkedin.com"],
.inside-author-social-nets a[href^="https://touch.linkedin.com"]
{
    background-image: url(../img/old/slink-linkedin.svg);
}

.inside-author-social-nets a > span {
    display: none;
}

@media (min-width: 1024px) {

    .author-page {
        margin-bottom: 32px;
    }

    #main-profile-author {
        text-align: left;
    }

    #inside-author-info {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        min-height: 120px;
        padding-left: 161px;        
    }

    #inside-author-info .inside-author-image {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 0;
        left: 0;        
    }
    
    .inside-author-social-nets {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }

    .inside-author-social-nets li {
        margin-left: 16px;
    }

    .inside-author-social-nets a {
        width: 26px;
        height: 26px;
    }


}
