.article-body-content .dts-custom-table-wrapper {
    margin: 0 0 1.7em;
    width: 100%;
}

.article-body-content > div.dts-custom-table-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.article-body-content .dts-custom-table {
    width: 300px;
    margin: 0 auto;
}

.article-body-content .dts-custom-table .ad-wrapper {
    display: block;
}

@media (min-width: 768px) {

    .article-body-content .dts-custom-table {
        width: 728px;
    }

}

@media (min-width: 1024px) {

    .article-body-content .dts-custom-table {
        width: 100%;
    }

    .article-body-content .dts-custom-table .custom-table-ad-unit {
        margin-left: auto;
        margin-right: auto;
    }

}