    .btn {
    font-size: 1em;
    font-weight: 600;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    text-align: center;
    line-height: 1em;
    padding: 15px 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline-style: none;
    border-width: 0;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    min-height: 33px;
    max-width: 330px;
}

.btn-primary {
    background-color: #004375;
    color: #ffffff;
}

.btn-primary:active {
    background-color: #016FC1;
}

@keyframes nv-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 32px;
    height: 32px;
    opacity: 0;
  }
}

.btn-loading {
    position: relative;
}

.btn-loading:before,
.btn-loading:after
{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #ffffff;
    opacity: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: nv-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.btn-loading:after {
    animation-delay: -0.5s;    
}

.btn-loading > span {
    opacity: 0;
}

.control-group {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
}

.control-check {
    min-height: 24px;
}

.form-field {
    background-color: #F9F4F4;
    border: 1px solid #878383;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1em;
    line-height: 1em;
    color: #3D3D3D;
    padding: 15px;
    width: 100%;
    outline-style: none;
    min-height: 45px;
}

.form-field:active,
.form-field:focus
{
    color: #000000;
    border-color: #000000;
    background: #FFF;
}

.form-field:invalid,
.form-field:required
{
    box-shadow: none;
}

select.form-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/old/arrowhead-down.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 8px auto;
    line-height: 1em;
    padding: 15px;
    min-height: 45px;
}

select.form-field:active,
select.form-field:focus{
    background-color: transparent;
}

.form-field-captcha-nums {
    width: 4.5em;
}

.control-check .form-check,
.control-check .form-check + span:before
{
    position: absolute;
    top: 0;
    left: 0;
}

.control-check .form-check {
    opacity: 0;
}

.control-check .form-check + span {
    padding-left: 32px;
    padding-top: 3px;
}

.control-check .form-check + span:before {
    content: "";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
    border-radius: 3px;
    background-color: transparent;
    outline-style: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.control-check .form-check:checked + span:before {
    content: "\2713";
    text-align: center;
    font-weight: 600;
    font-size: 1em;
}

.control-label {
    display: block;
    padding: 6px;
    width: 100%;
    font-size: 0.93em;
    color: #878383;
}

.field-message {
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 16px;
    background-color: #c0161f;
    color: #ffffff;
    border-radius: 3px;
    max-height: 15em;
    min-width: 150px;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    -webkit-transition-property: padding-top, padding-bottom, max-height;
    transition-property: padding-top, padding-bottom, max-height;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.field-message:empty {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    max-height: 0;
}

.field-message:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border-top: 6px solid #c0161f;
    border-right: 6px solid transparent;
    border-bottom-width: 0;
    border-left: 6px solid transparent;
}

.control-group-captcha-nums .field-message {
    left: 0;
    transform: none;
}

.control-group-captcha-nums .field-message:after {
    left: 16px;
}

.control-group label{
    display:flex;
}

.control-check label span{
    text-indent: 0;
}
.control-check label span{
    margin-left: 8px
}

@media (min-width: 1024px) {

    .btn {
        width: auto;
        padding: 14px 36px;
    }
    .control-label {
        font-size: .875em;
        text-align: left;
        padding: 2px 15px;
    }
    select.form-field{
        line-height: 1.3em;
        padding: 12px 15px;
        background-position: 98% center;
    }
    .form-field {
        font-size: .98em;
        text-align: left;
        padding: 11.5px 15px;
    }


}