@font-face {
  font-family: "ThemeIcons";
  src: url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg?w2lhy6#ThemeIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ThemeIcons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-twitter:before {
  content: "\e900";
}
.ic-spinner:before {
  content: "\e981";
}
.ic-mail1:before {
  content: "\ea83";
}
.ic-mail:before {
  content: "\ea84";
}
.ic-google:before {
  content: "\ea88";
}
.ic-whatsapp:before {
  content: "\ea93";
}
.ic-spotify:before {
  content: "\ea94";
}
.ic-telegram:before {
  content: "\ea95";
}
.ic-vine:before {
  content: "\ea97";
}
.ic-vk:before {
  content: "\ea98";
}
.ic-rss2:before {
  content: "\ea9c";
}
.ic-twitch:before {
  content: "\ea9f";
}
.ic-vimeo:before {
  content: "\eaa0";
}
.ic-vimeo2:before {
  content: "\eaa1";
}
.ic-lanyrd:before {
  content: "\eaa2";
}
.ic-dribbble:before {
  content: "\eaa7";
}
.ic-behance:before {
  content: "\eaa8";
}
.ic-behance2:before {
  content: "\eaa9";
}
.ic-deviantart:before {
  content: "\eaaa";
}
.ic-500px:before {
  content: "\eaab";
}
.ic-steam:before {
  content: "\eaac";
}
.ic-steam2:before {
  content: "\eaad";
}
.ic-dropbox:before {
  content: "\eaae";
}
.ic-onedrive:before {
  content: "\eaaf";
}
.ic-github:before {
  content: "\eab0";
}
.ic-npm:before {
  content: "\eab1";
}
.ic-basecamp:before {
  content: "\eab2";
}
.ic-trello:before {
  content: "\eab3";
}
.ic-wordpress:before {
  content: "\eab4";
}
.ic-joomla:before {
  content: "\eab5";
}
.ic-ello:before {
  content: "\eab6";
}
.ic-blogger:before {
  content: "\eab7";
}
.ic-blogger2:before {
  content: "\eab8";
}
.ic-tumblr:before {
  content: "\eab9";
}
.ic-tumblr2:before {
  content: "\eaba";
}
.ic-yahoo:before {
  content: "\eabb";
}
.ic-yahoo2:before {
  content: "\eabc";
}
.ic-tux:before {
  content: "\eabd";
}
.ic-appleinc:before {
  content: "\eabe";
}
.ic-finder:before {
  content: "\eabf";
}
.ic-android:before {
  content: "\eac0";
}
.ic-windows:before {
  content: "\eac2";
}
.ic-soundcloud:before {
  content: "\eac3";
}
.ic-soundcloud2:before {
  content: "\eac4";
}
.ic-skype:before {
  content: "\eac5";
}
.ic-reddit:before {
  content: "\eac6";
}
.ic-hackernews:before {
  content: "\eac7";
}
.ic-wikipedia:before {
  content: "\eac8";
}
.ic-linkedin:before {
  content: "\eac9";
}
.ic-linkedin2:before {
  content: "\eaca";
}
.ic-lastfm:before {
  content: "\eacb";
}
.ic-lastfm2:before {
  content: "\eacc";
}
.ic-delicious:before {
  content: "\eacd";
}
.ic-stumbleupon:before {
  content: "\eace";
}
.ic-stumbleupon2:before {
  content: "\eacf";
}
.ic-stackoverflow:before {
  content: "\ead0";
}
.ic-pinterest:before {
  content: "\ead1";
}
.ic-pinterest2:before {
  content: "\ead2";
}
.ic-xing:before {
  content: "\ead3";
}
.ic-xing2:before {
  content: "\ead4";
}
.ic-flattr:before {
  content: "\ead5";
}
.ic-foursquare:before {
  content: "\ead6";
}
.ic-yelp:before {
  content: "\ead7";
}
.ic-paypal:before {
  content: "\ead8";
}
.ic-chrome:before {
  content: "\ead9";
}
.ic-firefox:before {
  content: "\eada";
}
.ic-edge:before {
  content: "\eadc";
}
.ic-safari:before {
  content: "\eadd";
}
.ic-opera:before {
  content: "\eade";
}
.ic-search:before {
  content: "\e902";
}
.ic-bars:before {
  content: "\e903";
}
.ic-arrow-right:before {
  content: "\e904";
}
.ic-clock:before {
  content: "\e905";
}
.ic-comment:before {
  content: "\e906";
}
.ic-plus:before {
  content: "\e907";
}
.ic-plus-square:before {
  content: "\e908";
}
.ic-x:before {
  content: "\e909";
}
.ic-share:before {
  content: "\e90a";
}
.ic-facebook:before {
  content: "\e90b";
}
.ic-instagram:before {
  content: "\e90c";
}
.ic-versy:before {
  content: "\e90d";
}
.ic-youtube:before {
  content: "\e90e";
}
.ic-rss:before {
  content: "\e90f";
}
