* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

body {
    color: #4F4F4F;
    font-family: proxima-nova, Verdana, Arial, sans-serif;
    font-size: 13px;
}

a {
    color: #006BDC;
}

a:hover {
    color: #0474EB;
}

a:active {
    color: #0363C8;
}

.nv-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding: 64px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nv-page * {
    box-sizing: border-box;
}

.no-display {
    display: none;
}

.nv-bt {
    line-height: 1em;
    padding: 10px 24px;
    font-weight: 600;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1em;
    outline: none;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.3s;
    height: 35px;
    cursor: pointer;
}

.nv-bt-alpha {
    color: #ffffff;
    background-color: #006BDC;
    border-color: #006BDC;
}

.nv-bt-alpha:hover {
    background-color: #0474EB;
    color: #ffffff;
}

.nv-bt-alpha:active {
    background-color: #0363C8;
    color: #ffffff;
}

.nv-bt-beta {
    color: #055AB4;
    background-color: #FFCA56;
    border-color: #FFCA56;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.27);
}

.nv-bt-beta:hover {
    background-color: #FFD16B;
}

.nv-bt-beta:active {
    background-color: #FCC03C;
    box-shadow: none;
}

.nv-mobile-only,
.nv-ad-mobile
{
    display: block;
}

.nv-desktop-only,
.nv-ad-desktop
{
    display: none;
}

.nv-ad-box {
    width: 100%;
    margin: 32px 0;
}

.nv-ad-mobile-catfish {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #F8F8F8;
    border-top: 1px solid #151B1E;
    z-index: 5;
}

.nv-ad {
    background-color: #F4F4F4;
}

.nv-ad-mobile-superbanner {
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.nv-ad-medium-rectangle {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.nv-ad-large-rectangle {
    width: 336px;
    height: 280px;
    margin: 0;
}

.nv-ad-smartphone-static-banner {
    width: 300px;
    height: 50px;
    margin: 0 auto;
}

.nv-ad-super-leaderboard {
    width: 970px;
    height: 90px;
    margin: 0 auto;
}

.nv-ad-billboard {
    width: 970px;
    height: 250px;
    margin: 0 auto;
}

.nv-input {
    outline: none;
    border: 1px solid #164D87;
    line-height: 1em;
    font-family: inherit;
    font-size: 1em;
    padding: 10px 12px;
    color: rgba(0,0,0,0.85);
    box-shadow: none;
    background: linear-gradient(to bottom, rgba(160,160,160,0.75) 0px, rgba(255,255,255, 0.75) 4px, rgba(255,255,255,0.75) 100%);
    transition-property: border-color, color;
    transition-duration: 0.3s;
    height: 35px;
}

.nv-input:hover {
    color: rgba(0,0,0,0.9);
    border-color: #0474EB;
}

.nv-input:active,
.nv-input:focus {
    color: rgba(0,0,0,1);
    border-color: #0363C8;
}

.nv-input::placeholder {
    opacity: 0.65;
}

.nv-page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 995;
}

.nv-page-header .nv-content {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    border-bottom: 1px solid #006BDC;
}

.nv-page-header .nv-site-logo {
    margin: 0;
    position: absolute;
    left: 24px;
    top: 0px;
}

.nv-site-logo a {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-decoration: none;
    border-bottom-width: 0;
}

.nv-page-header .nv-site-logo a {
    width: 77px;
    height: 64px;
    background-image: url(../img/logo.svg);
}

.nv-site-logo a strong {
    display: none;
}

.nv-main-nav-content,
.nv-search form
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nv-main-nav-content {
    background-color: #151B1E;
    transform: translate(101%, 0);
    transition: transform 0.4s;
}

.active .nv-main-nav-content {
    transform: translate(0, 0);
    z-index: 990;
}

.nv-main-nav-content-blocks {
    position: relative;
    padding-top: 52px;
    width: 100%;
    height: 100%;
}

.nv-main-nav-blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nv-main-nav-links {
    width: 100%;
    overflow: auto;
}

.nv-main-nav-links ul {
    margin: 0;
    padding: 0;
}

.nv-main-nav-links li {
    display: block;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.nv-main-nav-links li > ul {
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    max-height: 0;
    transition: max-height 0.4s;
    overflow: hidden;
}

.nv-main-nav-links li.active > ul {
    max-height: 1080px;
}

.nv-main-nav-links a {
    display: block;
    text-decoration: none;
    padding: 16px 24px 16px 32px;
    color: rgba(255,255,255,0.85);
    transition: background-color 0.3s;
    position: relative;
    border-bottom-width: 0;
}

.nv-main-nav-links a:active {
    background-color: #006BDC;
    color: #ffffff;
}

.nv-main-nav-links .menu-item-has-children > a {
    padding-right: 50px;
}

.nv-main-nav-links .menu-item-has-children > a:after {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    right: 29px;
    width: 10px;
    height: 10px;
    background-image: url(../img/slider-chevron-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.4;
    transform: rotateZ(90deg);
}

.nv-main-nav-links .menu-item-has-children.active > a:after {
    transform: rotateZ(-90deg);
}

.nv-main-nav-links li > ul a {
    color: #ffffff;
}

.nv-page-header-ctas ul {
    margin: 0;
    padding: 0;
}

.nv-page-header-ctas li {
    display: block;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.nv-page-header-ctas a {
    display: block;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #006BDC;
    transition: background-color 0.3s;
}

.nv-page-header-ctas a:hover {
    background-color: #0474EB;
}

.nv-page-header-ctas a:active {
    background-color: #0363C8;
}

.nv-search form {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(4px);
    transition-property: opacity, max-height;
    transition-duration: 0.4s, 0s;
    transition-delay: 0s, 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nv-search.active form {
    max-height: 100%;
    opacity: 1;
    transition-delay: 0s, 0s;
}

.nv-search form > div {
    width: 75%;
    max-width: 300px;
    text-align: center;
}

.nv-search .nv-input-search {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.nv-search .nv-bt-alpha {
    width: 100%;
}

.eqi-ticker-tape {
    height: 98px;
    position: relative;
    background-color: #131722;
}

.eqi-ticker-tape .tradingview-widget-copyright {
    background-color: #131722;
    margin: 0;
    white-space: nowrap;
    padding: 6px 0;
    width: 100%;
    line-height: 1em !important;
    border-top: 1px solid #242937;
    position: absolute;
    left: 0;
    bottom: 0;
}

.eqi-ticker-tape .tradingview-widget-copyright a {
    color: #2087CD !important;
}

.eqi-ticker-tape .tradingview-widget-copyright a:hover,
.eqi-ticker-tape .tradingview-widget-copyright a:active
{
    color: #17669B !important;
}

.nv-ic-menu,
.nv-ic-search,
.nv-ic-close
{
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.nv-ic-menu:active,
.nv-ic-search:active,
.nv-ic-close:active
{
    opacity: 0.75;
}

.nv-ic-menu,
.nv-ic-search
{
    top: 50%;
    transform: translate(0, -50%);
}

.nv-ic-menu {
    right: 18px;
    background-image: url(../img/menu.svg);
    background-size: 17px 12px;
}

.nv-ic-search {
    background-image: url(../img/search.svg);
    background-size: 15px 15px;
    right: 60px;
}

.nv-ic-close {
    top: 12px;
    right: 18px;
    background-image: url(../img/x.svg);
    background-size: 12px 12px;
}

.nv-search .nv-ic-close {
    background-image: url(../img/x-blue.svg);
}

.nv-search .nv-ic-close:active {
    opacity: 0.85;
}

.nv-page-footer {
    width: 100%;
    background-color: #151B1E;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.nv-page-footer > .nv-content {
    padding: 25px 24px 74px 113px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.nv-page-footer .nv-site-logo {
    position: absolute;
    top: 25px;
    left: 24px;
    margin: 0;
}

.nv-page-footer .nv-site-logo a {
    width: 64px;
    height: 53px;
    background-image: url(../img/logo-footer.svg);
}

.nv-footer-nav ul,
.nv-social-nav ul,
.nv-group-sites-menu ul
{
    margin: 0;
    padding: 0;
}

.nv-footer-nav a,
.nv-social-nav a,
.nv-group-sites-menu a
{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.nv-footer-nav {
    margin-bottom: 35px;
}

.nv-footer-nav li {
    display: block;
    margin-top: 13px;
}

.nv-footer-nav li:first-child {
    margin-top: 0;
}

.nv-footer-nav a {
    border-bottom: 1px dotted transparent;
}

.nv-footer-nav a:hover {
    border-bottom-color: #ffffff;
}

.nv-footer-nav a:active {
    border-bottom-style: solid;
}

.nv-social-nav {
    margin-bottom: 35px;
}

.nv-social-nav li {
    line-height: 1em;
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
}

.nv-social-nav li:first-child {
    margin-left: 0;
}

.nv-social-nav a,
.nv-group-sites-menu a
{
    color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.nv-social-nav a {
    width: 18px;
    height: 18px;
    border-bottom-width: 0;
}

.nv-social-nav a:hover,
.nv-group-sites-menu a:hover
{
    transform: scale(1.2, 1.2);
}

.nv-social-nav a:active,
.nv-group-sites-menu a:active
{
    transform: scale(0.92, 0.92);
}

.nv-social-nav a[href*="facebook.com/"] {
    background-image: url(../img/facebook.svg);
}

.nv-social-nav a[href*="twitter.com/"] {
    width: 21px;
    height: 19px;
    background-image: url(../img/twitter.svg);
}

.nv-social-nav a[href*="whatsapp.com/"] {
    width: 19px;
    height: 19px;
    background-image: url(../img/whatsapp.svg);
}

.nv-social-nav a[href*="linkedin.com/"] {
    background-image: url(../img/linkedin.svg);
}

.nv-social-nav a[href*="youtube.com/"] {
    width: 23px;
    height: 16px;
    background-image: url(../img/youtube.svg);
}

.nv-group-sites-menu {
    margin-bottom: 24px;
}

.nv-group-sites-menu:before {
    content: "Outras marcas do Grupo EQI:";
    display: block;
    color: #B1B1B1;
    font-size: 0.92em;
    margin-bottom: 22px;
}

.nv-group-sites-menu ul {
    margin-left: -24px;
}

.nv-group-sites-menu li {
    display: inline-block;
    margin: 0 0 24px 24px;
}

.nv-group-sites-menu a,
.nv-group-sites-menu li > span
{
    display: inline-block;
    width: 53px;
    height: 49px;
    border-bottom-width: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.nv-group-sites-menu a[href*="educacao"],
.nv-group-sites-menu li:first-child > span
{
    background-image: url(../img/eqi-educacao.svg);
}

.nv-group-sites-menu a[href*="eventos"],
.nv-group-sites-menu li:nth-child(2) > span
{
    background-image: url(../img/eqi-eventos.svg);
}

.nv-group-sites-menu a[href*="investimentos"],
.nv-group-sites-menu li:nth-child(3) > span
{
    background-image: url(../img/eqi-investimentos.svg);
}

.nv-group-sites-menu a[href*="research"],
.nv-group-sites-menu li:nth-child(4) > span
{
    background-image: url(../img/eqi-research.svg);
}

.nv-page-footer .eqi-disclaimer {
    font-size: 0.85em;
    line-height: 2em;
}

.nv-page-footer .eqi-disclaimer p {
    margin: 0;
}

.nv-page-footer .eqi-disclaimer p + p {
    margin: 2em 0 0;
}

.bt {
    cursor: pointer;
}

.bt-ic {
    background-color: transparent;
    border-width: 0;
    padding: 0;
}

.content-pad {
    padding-left: 16px;
    padding-right: 16px;
}

.artile-headline {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.4em;
}

.article-category-label,
.article-category a.article-category-label
{
    display: inline-block;
    padding: 4px 8px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    background-color: #3F3F3F;
    text-decoration: none;
    text-transform: uppercase;
}

.article-category-label:active {
    background-color: #000000;
}

.share-trigger {
    cursor: pointer;
}

.share-trigger:active {
    color: #000000;
}

.share-trigger {
    font-size: 24px;
}

.author-avatar {
    cursor: pointer;
}

.ad-wrapper {
    display: none;
    background-color: #F2F2F2;
    padding: 0;
}

.enable-ads .ad-wrapper {
    display: block;
}

.site-wrapper {
    padding-top: 57px;
}

.site-header {    
    width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);    
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;    
}

.site-header .content-block {
    background-color: #ffffff;
    width: 100%;
    color: #697177;
    height: 56px;
    position: relative;    
}

.site-name {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 24px;
    margin: 0;
}

.site-name a {
    border-width: 0;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    width: 112px;
    height: 32px;
    background-image: url(.../img/old/logo-eqi.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.site-name a > strong {
    display: none;
}

.h-search {
    position: absolute;
    top: 11px;
    right: 55px;
    padding: 8px 0 8px 32px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10px);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10px);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10px);
}

.h-search > form {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 0;
    height: 22px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

.h-search.active > form {
    width: 180px;
}

.h-search > .ic-search {
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    top: 9px;
    left: 13px;
}

.h-search input[type="search"],
.h-search input[type="text"]
{
    outline-width: 0;
    background-color: transparent;
    font-size: 14px;
    font-family: "Lato", Arial, sans-serif;
    line-height: 14px;
    color: rgb(100,100,100);
    padding: 0 0 2px 0;
    margin: 0 2px 0 4px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom: 1px solid rgba(217,217,217,0.5);
    width: 150px;
}

.h-search .bt {
    color: rgba(217,217,217,0.5);
    font-size: 18px;
    margin: 0;
    vertical-align: middle;
}

.h-search form{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255,255,255,0.95);
    transition-property: width, height, opacity !important;
    transition-duration: 0s, 0s, 0.3s !important;
    transition-delay: 0s, 0s, 0.3s !important;
    text-align: center;
}

.h-search.active > .ic-search {
    font-size: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    left: unset;
    z-index: 99999;
    color: #000;
  }
  .h-search.active > form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    display: flex;
    width: 100% !important;
    height: 100%;
    opacity: 1;
  }
  .h-search.active >.ic-search:before {
    content: "\e909";
  }
  .h-search input[type="search"] {
    outline-width: 0;
    background-color: transparent;
    font-size: 1.5em;
    font-family: "Open Sans", Arial, sans-serif;
    color: rgb(100,100,100);
    padding: 0.5em 0;
    margin: 0 2px 0 4px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom: 1px solid rgba(217,217,217,1);
    width: 100%;
    text-align: center;
}
.h-search button {
    color: #000000 !important;
    margin: auto !important;
    margin-top: 3em !important;
    font-size: 1em !important;
    padding: .75em 4em !important;
    border-radius: .5em;
    border-width: 0;
    background-color: #FFBF25;
}


.h-menu-highlights {
    display: none;
}

.h-menu .ic-bars,
.h-search .ic-search
{
    color: #004375;
}

.h-menu .ic-bars {
    position: absolute;
    font-size: 16px;
    right: 16px;
    top: 21px;
    cursor: pointer;
}

.h-menu-box {
    overflow: hidden;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
    z-index: 500;
    -webkit-transition-property: width, height;
    transition-property: width, height;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.h-menu.active .h-menu-box {
    width: 100%;
    height: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.h-menu-content {
    background-color: #33393c;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(101%, 0);
    transform: translate(101%, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.h-menu.active .h-menu-content {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.h-menu-content .ic-x {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
}

.h-menu-content-blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.h-menu-social-items {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    background-color: #333333;
    background: -moz-linear-gradient(top, rgba(70, 77, 80,0) 0%, rgba(70, 77, 80,1) 20%);
    background: -webkit-linear-gradient(top, rgba(70, 77, 80,0) 0%, rgba(70, 77, 80,1) 20%);
    background: linear-gradient(to bottom, rgba(51, 57, 60,0) 0%, rgba(51, 57, 60,1) 20%);
}

.h-menu-social-items > li {
    display: block;
    margin-left: 8px;
}

.h-menu-social-items > li:first-child {
    margin-left: 0;
}

.h-menu-social-items a {
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    border-bottom-width: 0;
}

.h-menu-social-items a:active {
    color: #D9D9D9;
}

.h-search .ic-search:active,
.h-search .bt:active,
.h-menu .ic-bars:active
{
    color: #016FC1;
}

.h-menu-social-items a:before,
.h-menu-items .menu-item-has-children:after
{
    display: inline-block;
    font-family: "ThemeIcons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.h-menu-social-items a[href^="https://www.facebook.com/"]:before,
.h-menu-social-items a[href^="https://m.facebook.com/"]:before,
.h-menu-social-items a[href^="https://facebook.com/"]:before
{
    content: "\e90b";
}

.h-menu-social-items a[href^="https://twitter.com/"]:before,
.h-menu-social-items a[href^="https://www.twitter.com/"]:before,
.h-menu-social-items a[href^="https://mobile.twitter.com/"]:before
{
    content: "\e900";
}

.h-menu-social-items a[href^="https://instagram.com/"]:before,
.h-menu-social-items a[href^="https://www.instagram.com/"]:before
{
    content: "\e90c";
}

.h-menu-social-items a[href^="https://youtube.com/"]:before,
.h-menu-social-items a[href^="https://www.youtube.com/"]:before,
.h-menu-social-items a[href^="https://m.youtube.com/"]:before
{
    content: "\e90e";
}

.h-menu-social-items a[href^="whatsapp://"]:before {
    content: "\ea93";
}

.h-menu-social-items a[href^="https://linkedin.com"]:before,
.h-menu-social-items a[href^="https://www.linkedin.com"]:before,
.h-menu-social-items a[href^="https://pt.linkedin.com"]:before,
.h-menu-social-items a[href^="https://touch.linkedin.com"]:before
{
    content: "\eac9";
}

.h-menu-social-items a[href$="/feed"]:before,
.h-menu-social-items a[href^="rss://"]:before
{
    content: "\e90f";
}

.h-menu-social-items a > span {
    display: none;
}

.h-menu-content .ic-x:active {
    color: #ffffff;
}

.h-menu-items, .h-menu-footer-items {
    margin-bottom: 70px;
}

.h-menu-items,
.h-menu-footer-items:first-child
{
    padding-top: 56px;
    margin-top: 0;
}

.h-menu-footer-items {
    margin-top: -70px;
    padding-top: 0;
}

.h-menu-items > ul,
.h-menu-footer-items > ul
{
    margin: 0;
    padding: 0;
}

.h-menu-items .menu-item,
.h-menu-footer-items .menu-item
{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
}

.h-menu-items .menu-item:first-child,
.h-menu-footer-items:first-child .menu-item:first-child
{
    border-top: 1px solid rgba(255,255,255,0.1);
}

.h-menu-items > ul > .menu-item-has-children:after {
    content: "\f078";
    display: block;
    position: absolute;
    right: 24px;
    top: 18px;
    font-size: 11px;
    color: #868686;
}

.h-menu-items > ul > .menu-item-has-children.open:after {
    -webkit-transform: rotateZ(180deg) translate(0, -2px);
    transform: rotateZ(180deg) translate(0, -2px);
}

.h-menu-items .menu-item > a,
.h-menu-footer-items .menu-item > a
{
    display: block;
    padding: 16px 16px 16px 48px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    background-color: rgba(255,255,255,0);
    transition: background-color 0.3s;
    border-bottom-width: 0;
}

.h-menu-items .menu-item > a {
    color: #D9D9D9;
    border-width: 0;
}

.h-menu-items .menu-item > a:active {
    background-color: rgba(255,255,255,0.1);
}

.h-menu-footer-items .menu-item > a {
    color: #333333;
    background-color: #FFBF25;
}

.h-menu-footer-items .menu-item > a:active {
    background-color: #F5AE04;
}

.h-menu-items .sub-menu {
    padding: 0;
    background-color: #3F4649;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 0;
    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

.h-menu-items .menu-item.open .sub-menu {
    max-height: 1080px;
}

.h-menu-items .sub-menu li {
    border-bottom-color: #4a4a4a;
}

.h-menu-items .sub-menu > li:last-child {
    border-bottom-width: 0;
}

.h-menu-items .sub-menu > .menu-item > a {
    padding-left: 72px;
    color: #ffffff;
}

.h-widget {
    background-color: #f3f3f3;
}

.ad-catfish-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.25);
    z-index: 90;
}

.ad-catfish-wrapper .ad-catfish {
    width: 320px;
    height: 50px;
    margin: 0 auto;
}

.nv-share-panel,
.nv-share-panel-content
{
    position: fixed;
    width: 100%;
}

.nv-share-panel {
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0);
    z-index: 92;
    transition-property: height, background-color;
    transition-duration: 0s, 0.3s;
    transition-delay: 0.6s, 0.3s;
}

.nv-share-panel.active {
    transition-delay: 0s, 0s;
    background-color: rgba(255,255,255,0.65);
    height: 100%;
}

.nv-share-panel-content {
    bottom: 0;
    left: 50%;
    max-width: 600px;
    background-color: #1e1e1e;
    padding: 16px;
    border-radius: 3px 3px 0 0;
    transform: translate(-50%, 110%);
    transition: transform 0.3s;
}

.nv-share-panel.active .nv-share-panel-content {
    transform: translate(-50%, 0);
    transition-delay: 0.3s;
}

.nv-share-panel h1 {
    font-size: 1em;
    margin: 0 0 16px;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

.nv-share-panel ul {
    margin: 0;
    padding: 0;
}

.nv-share-panel li {
    display: block;
    margin-top: 16px;
}

.nv-share-panel li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.4);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.nv-share-panel li a:active {
    background-color: #ffffff;
    color: #1e1e1e;
}

.nv-share-panel li a > i {
    margin-right: 8px;
}

.ad-wrapper .ad-slot {
    margin: 0 auto;
}

.ad-300x250 {
    width: 300px;
    height: 250px;
}

.enable-ads .site-body {
    padding-bottom: 50px;
}

.error404 {
    background-image: url(/wp-content/themes/eu-quero-investir/img/old/pigbank.jpg);
    background-repeat: no-repeat;
    background-size: 230px 213px;
    background-position: center 85%;
}

.error404 .site-header {
    box-shadow: none;
}

.site-404 > .content-block {
    text-align: center;
    padding: 2em 0 290px;
}

.site-404 {
    padding-left: 24px;
    padding-right: 24px;
}

.site-404 .bt-goto-home {
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5em;
}

.site-404 .bt-goto-home:active {
    background-color: #035592;
}

.site-footer {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    z-index: 2;

}

.site-footer-content {
    width: 100%;
    max-width: 1234px;
    margin: 0 auto;
    padding: 32px 32px 64px;
}

.nv-disclaimer {
    font-size: 0.825em;
    line-height: 1.5em;
    color: #808080;
}

.nv-disclaimer p {
    margin: 0 0 1.25em;
}


@media (min-width: 768px) {

    .eqi-ticker-tape {
        height: 71px;
    }

}

@media (min-width: 1024px) {

    .nv-page {
        padding-top: 81px;
    }

    .nv-desktop-only,
    .nv-ad-desktop
    {
        display: block;
    }

    .nv-mobile-only,
    .nv-ad-mobile
    {
        display: none;
    }

    .nv-page-header {
        /* margin-top: 71px; */
        position: absolute;
        background-color: #ffffff;
        border-bottom: 1px solid #006BDC;
    }

    .nv-page-header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
    }

    .nv-page-header .nv-content {
        height: 80px;
        padding: 0 24px;
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1226px;
        display: flex;
        align-items: center;
        border-bottom-width: 0;
    }

    .nv-page-header .nv-site-logo {
        position: relative;
        top: auto;
        left: auto;
    }

    .nv-page-header .nv-site-logo a {
        width: 97px;
        height: 80px;
    }

    .nv-main-nav {
        margin-left: 38px;
    }

    .nv-ic-menu,
    .nv-main-nav .nv-ic-close
    {
        display: none;
    }

    .nv-main-nav-content,
    .nv-main-nav-content-blocks,
    .nv-main-nav-blocks
    {
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        position: static;
    }

    .nv-main-nav-content {
        background-color: transparent;
        transform: none;
    }

    .nv-main-nav-content-blocks {
        padding: 0;
    }

    .nv-main-nav-blocks {
        display: block;
    }

    .nv-main-nav-links {
        width: auto;
        overflow: visible;
    }

    .nv-main-nav-links > ul {
        display: flex;
        align-items: center;
    }

    .nv-main-nav-links a,
    .nv-main-nav-links li > ul a
    {
        color: #384554;
        background-color: transparent;
        transition: color 0.3s;
        display: inline-block;
    }

    .nv-main-nav-links a:hover {
        color: #0474EB;
        background-color: transparent;
    }

    .nv-main-nav-links a:active {
        color: #0363C8;
        background-color: transparent;
    }

    .nv-main-nav-links > ul > li {
        position: relative;
    }

    .nv-main-nav-links > ul > li > a {
        white-space: nowrap;
        padding: 0 12px;
    }

    .nv-main-nav-links .menu-item-has-children > a {
        padding-right: 26px;
    }

    .nv-main-nav-links .menu-item-has-children > a:after {
        right: 12px;
        top: 50%;
        width: 5px;
        height: 7px;
        margin-top: -3px;
    }

    .nv-main-nav-links li > ul {
        position: absolute;
        top: 3.25em;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #ffffff;
        border-radius: 3px;
        padding: 0;
        width: 200px;
        transition-property: max-height, padding;
        transition-duration: 0.4s, 0.3s;
        transition-timing-function: ease-in-out;
        text-align: left;
    }

    .nv-main-nav-links li.active > ul {
        border: 1px solid #006BDC;
        padding: 8px 0;
    }

    .nv-main-nav-links li > ul a {
        padding: 8px 16px 8px 24px;
    }

    .nv-page-header-ctas {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .nv-page-header-ctas li {
        display: inline-block;
        margin-left: 12px;
    }

    .nv-page-header-ctas a {
        padding: 12px 40px;
        border-radius: 3px;
    }

    .nv-ic-search {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        background-image: url(../img/search-gray.svg);
    }

    .nv-ic-search:hover {
        background-image: url(../img/search.svg);
    }

    .nv-ic-search:active {
        transform: scale(0.9, 0.9);
    }

    .eqi-ticker-tape {
        width: 100%;
        height: 71px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .nv-page-footer > .nv-content {
        width: 100%;
        max-width: 1226px;
        padding: 50px 24px 50px 144px;
        flex-direction: row;
        margin: 0 auto;
    }

    .nv-page-footer-group:last-child {
        width: 346px;
        min-width: 346px;
        padding-left: 50px;
    }

    .nv-page-footer .nv-site-logo {
        top: 50px;
    }

    .nv-page-footer .nv-site-logo a {
        width: 96px;
        height: 79px;
    }

    .nv-ad-box {
        margin-top: 38px;
        margin-bottom: 38px;
    }

    .article-body-content .rmp-widgets-container {
        margin-top: 40px !important;
    }

    .content-term-acceptance {
        margin-top: 20px;
        padding-right: 40px;
        padding-left: 40px;
     }

    .ad-300x250 {
        display: none;
    }

    .ad-728x90{
        width: 728px;
        height: 90px;
    }

    .content-block {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1178px;
    }

    .site-wrapper {
        padding-top: 73px;
    }

    .site-body,
    .enable-ads .site-body
    {
        padding-bottom: 48px;
    }

    .site-header {
        padding: 0;
        background-color: #ffffff;
        border-width: 0;
    }

    .site-header .content-block {
        background-color: transparent;
        height: 72px;
        z-index: 5;        
    }

    .site-header .h-menu .ic-bars {
        display: none;
    }

    .site-header .site-name,
    .site-header .h-search .ic-search
    {
        color: #004375;
    }

    .site-header .h-search .ic-search:active {
        color: #004375;
    }

    .site-header .site-name {
        top: 17px;
        left: 16px;
        z-index: 2;
    }

    .site-header .site-name a {
        display: block;
        width: 125px;
        height: 35px;
    }

    .site-header .site-name a:before {
        display: none;
    }

    .h-widget {
        z-index: 2;
    }

    .h-search {
        height: 56px;
        top: 0;
        right: 16px;
        padding-top: 27px;
        padding-left: 36px;
    }

    .h-search .ic-search {
        top: 27px;
        left: 18px;
    }

    .h-search.active > form {
        width: 180px;
    }

    .h-search input[type="search"],
    .h-search input[type="text"]
    {
        border-bottom-color: rgb(197,197,197);
        padding-bottom: 4px;
    }

    .h-search .bt {
        color: rgb(197,197,197);
    }

    .h-search .bt:active {
        color: rgb(50,50,50);
    }

    .h-menu {
        position: absolute;
        left: 0;
        top: 50%;
        padding: 0 56px 0 164px;
        width: 100%;
        transform: translate(0, -50%);
    }

    .h-menu-box {
        background-color: transparent;
        width: auto;
        height: auto;
        z-index: 1;
        position: relative;
        overflow: visible;
    }

    .h-menu-content {
        width: 100%;
        height: auto;
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        background-color: transparent;
        overflow: visible;
    }

    .h-menu-content .ic-x {
        display: none;
    }

    .h-menu-content-blocks {
        position: relative;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: visible;
    }

    .h-menu-social-items {
        display: none;
    }

    .h-menu-items {
        padding: 0;
        margin: 0;
    }

    .h-menu-items > ul {
        display: flex;
    /*! z-index: 99998; */        
    }

    .h-menu-items .menu-item {
        border-width: 0;
        margin-left: 30px;
        position: relative;
    }

    .h-menu-items .menu-item:first-child {
        border-width: 0;
        margin-left: 0;
    }

    .h-menu-items > ul > .menu-item-has-children {
        padding-right: 13px;
    }

    .h-menu-items > ul > .menu-item-has-children::after {
        font-size: 8px;
        color: #AFBDC8;
        right: 0;
        top: 0.82em;
    }

    .h-menu-items .menu-item > a,
    .h-menu-footer-items .menu-item > a
    {
        font-size: 0.63em;
    }


    .h-menu-items .menu-item > a {
        background-color: transparent;
        line-height: 1em;
        font-weight: 400;
        padding: 0.25em 0;
        color: #222222;
    }

    .h-menu-items .menu-item > a:active {
        color: #000000;
    }

    .h-menu-items .sub-menu {
        position: absolute;
        background-color: #ffffff;
        border-radius: 3px;
        top: 44px;
        left: -1.25em;
        min-width: 250px;
        transition: none;
    }

    .h-menu-items .menu-item.open .sub-menu {
        max-height: 450px;
        overflow: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    }

    .h-menu-items .sub-menu li {
        margin: 0;
    }

    .h-menu-items .sub-menu > .menu-item > a {
        line-height: 1.3em;
        padding: 1em 2em;
        color: #222222;
    }

    .h-menu-items .sub-menu > .menu-item > a:active {
        color: #000000;
    }


    .h-menu-footer-items {
        margin: 0;
    }
    
    .h-menu-footer-items .menu-item > a {
        line-height: 1em;
        padding: 10px 20px;
        text-align: center;
        border-radius: 3px;
    }


    .nv-share-panel .nv-share-whatsapp {
        display: none;
    }

    .error404 {
        background-size: 404px 373px;
        background-position: 80% 120px
    }

    .error404 .h-menu-highlights {
        display: none;
    }

    .site-404 > .content-block {
        padding-top: 89px;
        padding-bottom: 32px;
        text-align: left;
        min-height: 400px;
    }

    .site-footer-content {
        padding-top: 48px;
        padding-bottom: 32px;
        font-size: 0.75em;
    }

}

@media (min-width: 1202px) {

    .site-header .site-name {
        left: 0;
    }

    .h-search {
        right: 0;
    }

}

@media (min-width: 1226px) {

    .nv-main-nav-links > ul > li > a {
        padding-left: 24px;
        padding-right: 24px;
    }

    .nv-main-nav-links .menu-item-has-children > a {
        padding-right: 31px;
    }

    .nv-main-nav-links .menu-item-has-children > a:after {
        right: 16px;
    }

}