html, body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #EFF0F2;
    color: #152C46;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
}

body * {
    box-sizing: border-box;
}

.nv-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(to bottom, #162D47 0px, #162D47 272px, #DCDFE6 273px, #EFF0F2);
    padding: 16px;
}

.nv-login a {
    color: #152C46;
}

.nv-login a:hover {
    color: #1e3d61;
}

.nv-login a:active {
    color: #FF1F45;
}

.nv-login-content {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 3px 48px rgba(0,0,0,0.16);
    border-radius: 12px;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nv-login-intro-content {
    padding-top: 100px;
    text-align: center;
    background-image: url(../img/login/logo-navve.svg);
    background-repeat: no-repeat;
    background-position: center 16px;
    background-size: 132px auto;
    min-height: 272px;
}

.nv-login-intro-content h1 {
    margin: 0 0 16px;
    font-size: 1.54em;
    line-height: 1.2em;
}

.nv-login-intro-content p {
    margin: 0;
}

.tml-field-wrap {
    margin-top: 36px;
    position: relative;
}

.tml-field-wrap:first-child {
    margin-top: 0;
}

.tml-label {
    text-align: center;
    color: #9ba4af;
}

.tml-field[type="text"],
.tml-field[type="password"],
.tml-field[type="email"]
{
    font-family: inherit;
    font-size: 1em;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #5A6F87;
    padding: 8px;
    text-align: center;
    outline: none;
    position: relative;
    display: inline-block;
    margin-bottom: 1px;
}

.tml-field[type="text"]:active,
.tml-field[type="password"]:active,
.tml-field[type="email"]:active,
.tml-field[type="text"]:focus,
.tml-field[type="password"]:focus,
.tml-field[type="email"]:focus
{
    border-bottom: 2px solid #162D47;
    margin-bottom: 0;
    color: #162D47;
}

.tml-button,
.tml-register-link a,
.tml-login-link a
{
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
    line-height: 1em;
    padding: 14px 28px;
    border: 1px solid #CDD2D8;
    border-radius: 4px;
    background-color: #FBFBFC;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    color: #152C46;
    transition: background-color 0.3s;
}

.tml-button:hover,
.tml-register-link a:hover,
.tml-login-link a:hover
{
    background-color: #152C46;
    color: #ffffff;
}

.tml-button:active,
.tml-register-link a:active,
.tml-login-link a:active
{
    background-color: #FF1F45;
    box-shadow: none;
    color: #ffffff;
}

.tml-submit-wrap .tml-button {
    background-color: #152C46;
    color: #ffffff;
}

.tml-submit-wrap .tml-button:hover {
    background-color: #1e3d61;
}

.tml-links {
    margin: 16px 0 0;
    padding: 0;
}

.tml-register-link,
.tml-lostpassword-link,
.tml-login-link
{
    display: block;
}

.tml-register-link a,
.tml-login-link a
{
    text-align: center;
    text-decoration: none;
}

.tml-lostpassword-link {
    text-align: center;
    margin: 16px 0 0;
}

.tml .anr_captcha_field {
    margin: 16px auto;
}

.tml .tml-errors {
    margin-bottom: 32px;
}

.tml .tml-error {
    background-color: #dc3232;
    border-width: 0;
    box-shadow: none;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 1024px) {

    .nv-login {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, #162D47 0px, #162D47 43.85%, #DCDFE6 43.851%, #EFF0F2);
    }

    .nv-login-content {
        max-width: 1208px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .nv-login-intro {
        position: relative;
        width: 44%;
    }

    .nv-login-intro:after {
        content: "";
        display: block;
        width: 95%;
        height: 357px;
        background-image: url(../img/login/login-illustration.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        position: absolute;
        bottom: -12px;
    }

    .nv-login-intro-content {
        padding: 70px 64px 380px;
        background-image: none;
    }

    .nv-login-form {
        padding: 142px 32px 64px;
        background-image: url(../img/login/logo-navve.svg);
        background-repeat: no-repeat;
        background-position: center 60px;
        background-size: 132px auto;
        width: 56%;
        border-radius: 0 12px 12px 0;
    }

    .nv-login-form > .tml {
        margin: 0 auto;
        width: 100%;
        max-width: 360px;
    }
}

