.t-mt-brasileirao-a,
.t-mt-brasileirao-b,
.t-mt-int-soccer,
.t-mt-championships
{
    margin-bottom: 24px;
}


.t-mt-brasileirao-a > h1,
.t-mt-brasileirao-b > h1,
.t-mt-int-soccer > h1,
.t-mt-championships > h1
{
    background-color: #F2F2F2;
    color: #686868;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.14em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 64px 16px 56px;
}

.t-mt-brasileirao-a > ul,
.t-mt-brasileirao-b > ul,
.t-mt-int-soccer > ul,
.t-mt-championships > ul
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: -32px 16px 0;
    padding: 24px 0 0 24px;
    background-color: #FFFFFF;
    border: 1px solid #CCCBCB;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}

.t-mt-brasileirao-a li,
.t-mt-brasileirao-b li,
.t-mt-int-soccer li,
.t-mt-championships li
{
    margin: 0;
    padding: 0;
    display: block;
    width: 50%;
}

.t-mt-brasileirao-a li a,
.t-mt-brasileirao-b li a,
.t-mt-int-soccer li a,
.t-mt-championships li a
{
    display: flex;
    align-items: center;
    font-size: 0.93em;
    margin: 0;
    padding: 0 24px 24px 0;
    color: #222222;
    text-decoration: none;
}

.t-mt-brasileirao-a li a:active,
.t-mt-brasileirao-b li a:active,
.t-mt-int-soccer li a:active,
.t-mt-championships li a:active
{
    color: #000000;
}

.t-mt-brasileirao-a li a span,
.t-mt-brasileirao-b li a span,
.t-mt-int-soccer li a span,
.t-mt-championships li a span
{
    display: block;
}

.t-sh {
    background-image: url(../img/old/my-team-mobile.png);
    background-repeat: no-repeat;
    display: block;
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    min-height: 40px;
    max-height: 40px;
    height: 40px;
    margin-right: 8px;
}

.t-sh-america-mg {
    background-position: -5px -5px;
}

.t-sh-arsenal {
    background-position: -55px -5px;
}

.t-sh-atletico {
    background-position: -105px -5px;
}

.t-sh-atletico-mg {
    background-position: -155px -5px;
}

.t-sh-atletico-pr {
    background-position: -205px -5px;
}

.t-sh-avai {
    background-position: -255px -5px;
}

.t-sh-bahia {
    background-position: -305px -5px;
}

.t-sh-barcelona {
    background-position: -5px -55px;
}

.t-sh-bayern {
    background-position: -55px -55px;
}

.t-sh-boca {
    background-position: -105px -55px;
}

.t-sh-borussia {
    background-position: -155px -55px;
}

.t-sh-botafogo {
    background-position: -205px -55px;
}

.t-sh-botafogo-sp {
    background-position: -255px -55px;
}

.t-sh-bragantino {
    background-position: -305px -55px;
}

.t-sh-brasil-pelotas {
    background-position: -5px -105px;
}

.t-sh-brasileirao-seriea {
    background-position: -55px -105px;
}

.t-sh-ceara {
    background-position: -105px -105px;
}

.t-sh-championsleague {
    background-position: -155px -105px;
}

.t-sh-chapecoense {
    background-position: -205px -105px;
}

.t-sh-chelsea {
    background-position: -255px -105px;
}

.t-sh-copadobrasil {
    background-position: -305px -105px;
}

.t-sh-corinthians {
    background-position: -5px -155px;
}

.t-sh-coritiba {
    background-position: -55px -155px;
}

.t-sh-crb {
    background-position: -105px -155px;
}

.t-sh-criciuma {
    background-position: -155px -155px;
}

.t-sh-cruzeiro {
    background-position: -205px -155px;
}

.t-sh-csa {
    background-position: -255px -155px;
}

.t-sh-cuiaba {
    background-position: -305px -155px;
}

.t-sh-figueirense {
    background-position: -5px -205px;
}

.t-sh-flamengo {
    background-position: -55px -205px;
}

.t-sh-fluminense {
    background-position: -105px -205px;
}

.t-sh-formula1 {
    background-position: -155px -205px;
}

.t-sh-fortaleza {
    background-position: -205px -205px;
}

.t-sh-goias {
    background-position: -255px -205px;
}

.t-sh-gremio {
    background-position: -305px -205px;
}

.t-sh-guarani {
    background-position: -5px -255px;
}

.t-sh-intermilao {
    background-position: -55px -255px;
}

.t-sh-internacional {
    background-position: -105px -255px;
}

.t-sh-juventus {
    background-position: -155px -255px;
}

.t-sh-libertadores {
    background-position: -205px -255px;
}

.t-sh-liverpool {
    background-position: -255px -255px;
}

.t-sh-londrina {
    background-position: -305px -255px;
}

.t-sh-manchestercity {
    background-position: -5px -305px;
}

.t-sh-manchesterunited {
    background-position: -55px -305px;
}

.t-sh-milan {
    background-position: -105px -305px;
}

.t-sh-nba {
    background-position: -155px -305px;
}

.t-sh-nfl {
    background-position: -205px -305px;
}

.t-sh-oeste {
    background-position: -255px -305px;
}

.t-sh-operario {
    background-position: -305px -305px;
}

.t-sh-palmeiras {
    background-position: -355px -5px;
}

.t-sh-parana {
    background-position: -355px -55px;
}

.t-sh-pontepreta {
    background-position: -355px -105px;
}

.t-sh-psg {
    background-position: -355px -155px;
}

.t-sh-realmadri {
    background-position: -355px -205px;
}

.t-sh-riverplate {
    background-position: -355px -255px;
}

.t-sh-santos {
    background-position: -355px -305px;
}

.t-sh-saobento {
    background-position: -5px -355px;
}

.t-sh-saopaulo {
    background-position: -55px -355px;
}

.t-sh-sport {
    background-position: -105px -355px;
}

.t-sh-vasco {
    background-position: -155px -355px;
}

.t-sh-vilanova {
    background-position: -205px -355px;
}

.t-sh-vitoria {
    background-position: -255px -355px;
}

@media (min-width: 1024px) {

    .t-mt-brasileirao,
    .t-mt-others
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        background: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2 146px, #ffffff 147px, #ffffff);
        background: linear-gradient(to bottom, #f2f2f2, #f2f2f2 146px, #ffffff 147px, #ffffff);
    }

    .t-mt-brasileirao-a, .t-mt-brasileirao-b, .t-mt-int-soccer, .t-mt-championships {
        width: 50%;
        max-width: 601px;
    }

    .t-mt-brasileirao-a, .t-mt-int-soccer {
        padding-right: 8px;
    }

    .t-mt-brasileirao-b, .t-mt-championships {
        padding-left: 8px;
    }

    .t-mt-brasileirao-a > h1, .t-mt-brasileirao-b > h1, .t-mt-int-soccer > h1, .t-mt-championships > h1 {
        background-color: transparent;
        text-align: left;
        padding: 39px 16px 81px;
    }

    .t-mt-brasileirao-a > ul, .t-mt-brasileirao-b > ul, .t-mt-int-soccer > ul, .t-mt-championships > ul {
        margin: -48px 16px 0;
    }

    .t-mt-brasileirao-a li, .t-mt-brasileirao-b li, .t-mt-int-soccer li, .t-mt-championships li {
        width: 33.33%;
    }

    .t-mt-brasileirao-a li a, .t-mt-brasileirao-b li a, .t-mt-int-soccer li a, .t-mt-championships li a {
        font-size: 0.825em;
    }

    .t-sh {
        background-image: url(../img/old/my-team-desktop.png);
        min-width: 46px;
        max-width: 46px;
        width: 46px;
        min-height: 46px;
        max-height: 46px;
        height: 46px;
    }

    .t-sh-america-mg {
        background-position: -5px -5px;
    }

    .t-sh-arsenal {
        background-position: -61px -5px;
    }

    .t-sh-atletico {
        background-position: -117px -5px;
    }

    .t-sh-atletico-mg {
        background-position: -173px -5px;
    }

    .t-sh-atletico-pr {
        background-position: -229px -5px;
    }

    .t-sh-avai {
        background-position: -285px -5px;
    }

    .t-sh-bahia {
        background-position: -341px -5px;
    }

    .t-sh-barcelona {
        background-position: -5px -61px;
    }

    .t-sh-bayern {
        background-position: -61px -61px;
    }

    .t-sh-boca {
        background-position: -117px -61px;
    }

    .t-sh-borussia {
        background-position: -173px -61px;
    }

    .t-sh-botafogo {
        background-position: -229px -61px;
    }

    .t-sh-botafogo-sp {
        background-position: -285px -61px;
    }

    .t-sh-bragantino {
        background-position: -341px -61px;
    }

    .t-sh-brasil-pelotas {
        background-position: -5px -117px;
    }

    .t-sh-brasileirao-seriea {
        background-position: -61px -117px;
    }

    .t-sh-ceara {
        background-position: -117px -117px;
    }

    .t-sh-championsleague {
        background-position: -173px -117px;
    }

    .t-sh-chapecoense {
        background-position: -229px -117px;
    }

    .t-sh-chelsea {
        background-position: -285px -117px;
    }

    .t-sh-copadobrasil {
        background-position: -341px -117px;
    }

    .t-sh-corinthians {
        background-position: -5px -173px;
    }

    .t-sh-coritiba {
        background-position: -61px -173px;
    }

    .t-sh-crb {
        background-position: -117px -173px;
    }

    .t-sh-criciuma {
        background-position: -173px -173px;
    }

    .t-sh-cruzeiro {
        background-position: -229px -173px;
    }

    .t-sh-csa {
        background-position: -285px -173px;
    }

    .t-sh-cuiaba {
        background-position: -341px -173px;
    }

    .t-sh-figueirense {
        background-position: -5px -229px;
    }

    .t-sh-flamengo {
        background-position: -61px -229px;
    }

    .t-sh-fluminense {
        background-position: -117px -229px;
    }

    .t-sh-formula1 {
        background-position: -173px -229px;
    }

    .t-sh-fortaleza {
        background-position: -229px -229px;
    }

    .t-sh-goias {
        background-position: -285px -229px;
    }

    .t-sh-gremio {
        background-position: -341px -229px;
    }

    .t-sh-guarani {
        background-position: -5px -285px;
    }

    .t-sh-intermilao {
        background-position: -61px -285px;
    }

    .t-sh-internacional {
        background-position: -117px -285px;
    }

    .t-sh-juventus {
        background-position: -173px -285px;
    }

    .t-sh-libertadores {
        background-position: -229px -285px;
    }

    .t-sh-liverpool {
        background-position: -285px -285px;
    }

    .t-sh-londrina {
        background-position: -341px -285px;
    }

    .t-sh-manchestercity {
        background-position: -5px -341px;
    }

    .t-sh-manchesterunited {
        background-position: -61px -341px;
    }

    .t-sh-milan {
        background-position: -117px -341px;
    }

    .t-sh-nba {
        background-position: -173px -341px;
    }

    .t-sh-nfl {
        background-position: -229px -341px;
    }

    .t-sh-oeste {
        background-position: -285px -341px;
    }

    .t-sh-operario {
        background-position: -341px -341px;
    }

    .t-sh-palmeiras {
        background-position: -397px -5px;
    }

    .t-sh-parana {
        background-position: -397px -61px;
    }

    .t-sh-pontepreta {
        background-position: -397px -117px;
    }

    .t-sh-psg {
        background-position: -397px -173px;
    }

    .t-sh-realmadri {
        background-position: -397px -229px;
    }

    .t-sh-riverplate {
        background-position: -397px -285px;
    }

    .t-sh-santos {
        background-position: -397px -341px;
    }

    .t-sh-saobento {
        background-position: -5px -397px;
    }

    .t-sh-saopaulo {
        background-position: -61px -397px;
    }

    .t-sh-sport {
        background-position: -117px -397px;
    }

    .t-sh-vasco {
        background-position: -173px -397px;
    }

    .t-sh-vilanova {
        background-position: -229px -397px;
    }

    .t-sh-vitoria {
        background-position: -285px -397px;
    }

}