.site-page > .content-block {
    padding: 16px 0;
}

.site-page > .content-block * {
    max-width: 100%;
}

.site-page > .content-block > * {
    margin-left: 16px;
    margin-right: 16px;
}

.site-page > .content-block > hr 
{
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 1024px) {
    
    .site-page > .content-block {
        max-width: 1202px;
    }
}