.container-test-profile {
	margin: 1.7em 0;
	background-color: #f2f2f2;
}

.container-test-profile .block-test {
	clear: both;
	padding: 16px;
}

.container-test-profile p:first-child{
	font-size: 1.25em; 
	font-weight: 600; 
	line-height: 1.4em; 
	font-family: "Poppins", Arial, sans-serif;
	margin-bottom: 1em;
}

.container-test-profile p:last-child {
	margin-bottom: 0;
}

.container-test-profile .shortc-button {
	display: block;
	margin: 1.25em 0 0.8em;
	text-transform: uppercase;
	padding: 12px 24px;
  cursor: pointer;
  color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	line-height: 1em;
	text-align: center;
	border-radius: 2px;
}

.container-test-profile .shortc-button.orange {
    background-color: #edae44;
    border-color: #ca9336;
}

@media (min-width: 1024px) {
	
	.container-test-profile {
		margin: 2.25em 0;
	}
	
	.container-test-profile .block-test {
		padding: 32px;
		text-align: center;
	}
	
	.container-test-profile .shortc-button {
		padding: 14px 36px;
		width: auto;
		max-width: 300px;
		margin: 2em auto 0.25em;
	}
	
}
