.contact-finance-advice-form,
.contact-finance-advice-horizontal-form,
.investor-profile-test
{
  background-color: #f2f2f2;
  font-size: 0.96em;
  padding: 43px 32px 32px;
  position: relative;
  text-align: center;
  margin-top: 54px;
}

.contact-finance-advice-form.horizontal-form {
  width: 100%;
  margin: 78px 0;
  font-size: 1.1em;
}

.contact-finance-advice-vertical-form {
  background-color: #F2F2F2;
  font-size: 0.96em;
  padding: 43px 32px 32px;
  position: relative;
  margin-top: 54px;
  max-width: 400px;
}

.contact-finance-advice-horizontal-form:before,
.contact-finance-advice-form.horizontal-form:before,
.contact-finance-advice-vertical-form:before,
.investor-profile-test:before
{
  content: "";
  display: block;
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  top: -24px;
  left: 50%;
  margin-left: -28px;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.contact-finance-advice-horizontal-form:before,
.contact-finance-advice-form.horizontal-form:before,
.contact-finance-advice-vertical-form:before
{
  background-image: url(../img/old/money-guy.svg);
  background-size: 26px 28px;
}

.investor-profile-test:before {
  background-image: url(../img/old/test.svg);
  background-size: 21px 26px;
}

.contact-finance-advice-form form,
.contact-finance-advice-form-feedback {
  overflow: hidden;
  width: 100%;
  transition-property: max-height, opacity;
  transition-duration: 0.3s, 0.3s;
}

.contact-finance-advice-form form {
  max-height: 1080px;
  opacity: 1;
  transition-delay: 0.3s, 0.3s;
}

.contact-finance-advice-form.form-feedback-active form {
  max-height: 0;
  opacity: 0;
  transition-delay: 0.3s, 0s;
}
.contact-finance-advice-form.horizontal-form.form-feedback-active:before{
  opacity: 0;
}

.contact-finance-advice-form-feedback {
  text-align: center;
  max-height: 0;
  opacity: 0;
  transition-delay: 0.3s, 0s;
}

.contact-finance-advice-form.form-feedback-active .contact-finance-advice-form-feedback {
  max-height: 1080px;
  opacity: 1;
  transition-delay: 0s, 0.3s;
}

.contact-finance-advice-form-title {
  margin: 0 0 30px;
  color: #004375;
  text-align: center;
}
.contact-finance-advice-form.horizontal-form .contact-finance-advice-form-title{
  width: 100%;
  margin-top: 25px;
}

.contact-finance-advice-form p,
.contact-finance-advice-horizontal-form p,
.contact-finance-advice-vertical-form p,
.investor-profile-test p
{
  line-height: 1.6em;
}

.contact-finance-advice-form > p,
.contact-finance-advice-horizontal-form > p,
.contact-finance-advice-vertical-form > p
{
  margin-bottom: 52px;
}

.contact-finance-advice-horizontal-form .control-check,
.contact-finance-advice-form.horizontal-form .control-check
{
  text-align: left;
  }

.contact-finance-advice-form .control-check {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-finance-advice-form-feedback .contact-finance-advice-form-title {
  margin: 1em 0 32px;
}

.contact-finance-advice-form-feedback .contact-finance-advice-form-title:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "\2713";
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50%;
  background-color: #004375;
  margin: 0 auto 20px;
  width: 66px;
  height: 66px;
}

.contact-finance-advice-form-feedback-desc {
  margin: 0 0 92px;
}

.contact-finance-advice-form-feedback-bts a {
  cursor: pointer;
}

.contact-finance-advice-form .control-group.form-buttons,
.contact-finance-advice-horizontal-form .control-group.form-buttons,
.contact-finance-advice-vertical-form .control-group.form-buttons,
.investor-profile-test .investor-profile-test-cta
{
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.contact-finance-advice-form .control-group.form-buttons .btn-disabled,
.contact-finance-advice-form .control-group.form-buttons .btn-disabled:active
{
  opacity: 0.7;
  cursor: default;
  background-color: #004375;
}

.investor-profile-test-cta {
  margin-top: 32px;
}

.contact-finance-advice-form .control-group,
.contact-finance-advice-horizontal-form .control-group,
.contact-finance-advice-vertical-form .control-group
{
  display: flex;
  flex-direction: column;
}

.external-widget-market-data {
  height: 770px;
}

.external-widget-market-data .tradingview-widget-copyright a {
  border-bottom-width: 0;
}

.article .external-widget-market-data {
  height: 600px;
}

.contact-finance-advice-form-title{
  text-align: center;
  color: #004375;
}

.h-widget .tradingview-widget-copyright a {
  border-bottom-width: 0;
}

@media (min-width: 1024px) {

  .contact-finance-advice-form, 
  .contact-finance-advice-horizontal-form, 
  .contact-finance-advice-vertical-form,
  .investor-profile-test 
  {
    border-radius: 4px;
    padding: 18px 25px 25px;
    margin-bottom: 56px;
    margin-top: 0;
    font-size: 1.125em;
  }

  .contact-finance-advice-form{
    width: 300px;
  }
  .contact-finance-advice-horizontal-form,
  .contact-finance-advice-vertical-form,
  .contact-finance-advice-form.horizontal-form
  {
    text-align: left;
  }
  
  .contact-finance-advice-form form{
    margin: 0 0 5px;
  }
  
  .contact-finance-advice-form-title {
    font-size: 1.14em;
    text-align: center;
  }
  
  form .contact-finance-advice-form-title {
    margin-bottom: 15px;
  }
  .contact-finance-advice-horizontal-form form,
  .contact-finance-advice-vertical-form form,
  .contact-finance-advice-form.horizontal-form form  
  {
    margin: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  
  .contact-finance-advice-form .control-group{
    margin-bottom: 15px;
  }

  .contact-finance-advice-horizontal-form .control-group, .contact-finance-advice-form.horizontal-form .control-group
  { 
    width: 50%;
    padding-right:16px;
  }
  
  .contact-finance-advice-form .control-check {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 0.93em;
  }
  .contact-finance-advice-horizontal-form .control-group:nth-child(odd),
  .contact-finance-advice-form.horizontal-form .control-group:nth-child(odd),
  .contact-finance-advice-vertical-form .control-group:nth-child(odd)
  {
    padding-right: 16px;
  }
  
  .contact-finance-advice-form .control-label {
    font-size: 0.9em;
  }
  
  .contact-finance-advice-form .form-field {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 37px;
  }
  
  
  .contact-finance-advice-form .control-group.form-buttons {
    margin-bottom: 0;
  }
  .contact-finance-advice-horizontal-form .control-group:nth-child(even),
  .contact-finance-advice-form.horizontal-form .control-group:nth-child(even),
  .contact-finance-advice-vertical-form .control-group:nth-child(even)
  {
    padding-left: 16px;
  }
  
  .contact-finance-advice-form .control-group.form-buttons .btn,
  .contact-finance-advice-form .contact-finance-advice-form-feedback-bts
  {
    font-size: 0.93em;
  }

  .contact-finance-advice-horizontal-form .control-group.control-check,
  .contact-finance-advice-horizontal-form .control-group.form-buttons,
  .contact-finance-advice-form.horizontal-form .control-group.control-check,
  .contact-finance-advice-form.horizontal-form .control-group.form-buttons,
  .contact-finance-advice-vertical-form .control-group.control-check,
  .contact-finance-advice-vertical-form .control-group.form-buttons
  {
    width: 100%;
  }
  
  .contact-finance-advice-form .control-group.form-buttons,
  .contact-finance-advice-horizontal-form .control-group.form-buttons,
  .contact-finance-advice-vertical-form .control-group.form-buttons,
  .investor-profile-test .investor-profile-test-cta
  {
    text-align: center;
  }

  .contact-finance-advice-form.horizontal-form .control-check .form-check, .contact-finance-advice-form.horizontal-form .control-check .form-check + span:before {
    left: 0;
  }
  
  .contact-finance-advice-form.horizontal-form .control-check .form-check + span {
    padding-left: 12px;
  }

}
